.header-items {
    position: relative;
}

.masonry-items {
    position: relative;
}

.item {
    position: relative;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
}

@media screen and (max-width: 639px) {
    .header-items {
        padding-bottom: 200%;
    }
    .item {
        &--sizer {
            width: 100%;
        }
        &--small,
        &--medium,
        &--big {
            @include block(100%);
        }
        &--big:first-child {
            margin-top: -5px;
        }
    }
}

@media screen and(min-width: 640px) {
    .header-items {
        padding-bottom: 50%;
    }
    .item {
        &--sizer {
            width: calc(33.333%);
        }
        &--small {
            @include block(calc(33.333%), 33.333%);
        }
        &--medium {
            @include block(calc(66.666%), 33.333%);
        }
        &--big {
            @include block(50%, 50%);
        }

        &--big {
            margin-top: -5px;
        }
    }
}