// .post-detail {
//     position: relative;
//     overflow: hidden;
//     padding-bottom: 0;
//     height: 0;
//     opacity: 0;
//     transition: all 800ms ease;
// }
// .post-detail.active {
//     opacity: 1;
//     height: auto;
//     padding-bottom: 60px;
// }
.active-post {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 800ms ease;
}

.active-post.active {
    opacity: 1;
    min-height: 100vh;
}

.post-detail {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: calc(100vh - 60px);
    opacity: 1;
    transition: all 800ms ease;
}

.post-detail__media {
    position: relative;
}

.post-detail__text {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.post-detail__content>* {
    width: 100%;
}

.post-detail__header {
    margin: 30px 0 60px 0;
}

.post-detail__text {
    font-family: Montserrat;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.52px;
    line-height: 20px;
    padding-top: 60px;
}

.post-detail__source {
    position: relative;
    margin-top: 60px;
}

@media screen and (max-width: 639px) {
    .post-detail__media {
        width: 100%;
    }
    .post-detail__text {
        width: calc(100% - 40px);
        position: relative;
    }
    .post-detail__content {
        padding: 0;
    }
    .source-link {
        position: relative;
    }
}

@media screen and (min-width: 640px) {
    .post-detail__media {
        width: 60%;
    }
    .post-detail__text {
        width: calc(40% - 40px);
        position: absolute;
    }
    .post-detail__content {
        padding: 0;
    }
    .source-link {
        position: absolute;
        bottom: 0;
    }
}